scipy
openai
tiktoken
retry
dashscope
loguru
modelscope
transformers==4.39.3
streamlit==1.24.0
sentencepiece==0.1.99
transformers_stream_generator==0.0.4
datasets==2.18.0
peft==0.10.0
openai==1.17.1
tqdm==4.64.1
setuptools==69.5.1
vllm==0.4.0.post1
nest-asyncio
accelerate
tf-keras